.textamit
{
    position: absolute;
    z-index: 1;
    color: white;
    left: 41%;
    top: 32%;
    cursor: pointer;
}
 
   .buttonamit {
      background-image:linear-gradient( #002b49, #0c5d90) ;
      color: rgb(255, 255, 255);
      left: 600px;
      height: 35px;
      
  }
 .gridfootamit {
    justify-content: space-around;
     width:100%;
     margin-top: 50px;
     color: black;
     line-height: 2;

}

.hramit {
    width: 67vw;
}